{% extends "layout.html" %}
{% block content %}
<div class="container">
  <br>

  <center>
     <h2>Podcast</h2>
  </center>
   
</div>
<br>
<div class="row align-items-center justify-content-center" style="font-size: large;">
  <div class="col-md-6 text-dark font-size-large">
     <p> Tune in to our audio show to learn about healthy lifestyle and healthcare-related topics from esteemed doctors, researchers, and members of Kriy8 Foundation.</p>
    <br>
    <br>

    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/1LoeYQ56B31YLZ9abqqHKY?utm_source=generator&theme=0&t=0" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

     <p> <b>Episode with Dr. Ashok Kirpalani, leading Nephrologist at Bombay Hospital </b></p>

    <br>
    <br>
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/4lhoIisAbhjqFrLmTpIwDl?utm_source=generator&theme=0&t=0" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>


     <p> <b>Episode with Dr. Gautam Das, Co-Founder and Managing Partner of miBiome Therapeutics </b></p>
     
     
     
     
     
    
   
     
  </div>   
</div>
<div class="row align-items-center justify-content-center">
 

</div>


<br>
<br>
    
    
{% endblock %}